/* Este es un
   comentario CSS de varias 
   lineas mod 200106
*/

body{background: #33b123;
  
  margin:0;
  background-repeat: no-repeat;
  background-size: cover;
}

div{
  box-sizing: border-box;
}

header, footer{
  background: white;
  padding: 10px;
}

 footer{
  background: white;
  padding: 5px;
  margin-top:  10px;
}

header h1{
  margin:0;
  text-align: center;
}

div.flex-container{
  background: white;
  margin-top: 10px;

}
div.flex-container img{
  width: 100%;
}
div.flex-container .TituloFoto div:first-child{
  display:inline-block;
  width: 80%;
}
div.flex-container .TituloFoto div:last-child{
  display:inline-block;
  width: 20%;
  margin-top: 10px;
  text-align: right;
  color: gray;
}

div.flex-container h2, div.flex-container p{
  padding: 10px;
  margin: 0;
}
div.container{
  width: 600px;
  margin: auto;
}

li:first-child{
  display:inline-block;
  width: 45%;
  text-align: center;
}
li:last-child{
  display:inline-block;
  width: 45%;
  text-align: center;
}
li{list-style: none;}
